.arc {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 92px 20px 90px;
  border-left: 1px solid $color-fallow;
  border-top: 1px solid $color-fallow;
  border-right: 1px solid $color-fallow;
  border-bottom: 0px transparent;
  border-top-left-radius: 600px;
  border-top-right-radius: 600px;

  @include vp-1023 {
    padding: 39px 20px;
  }

  @include vp-767 {
    padding: 25px 10px;
  }

  &__icon {
    width: 110px;
    height: 146px;
    margin: 0 0 30px;
    flex-shrink: 0;

    @include vp-1023 {
      width: 70px;
      height: 94px;
      margin: 0 0 20px;
    }

    @include vp-767 {
      width: 60px;
      height: 80px;
    }


  }


  &__name {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 0 0 40px;

    @include vp-1023 {
      gap: 5px;
      margin: 0 0 20px;
    }

    @include vp-767 {
      gap: 9px;
      margin: 0 0 15px;
    }
  }

  &__name-small {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: $color-fallow;
    text-align: center;

    @include vp-1023 {
      font-size: 14px;
      line-height: 20px;
    }

    @include vp-767 {
      font-size: 10px;
      line-height: 14px;
    }
  }

  &__name-big {
    font-family: $ff-tenor;
    font-weight: 400;
    font-size: 44px;
    line-height: 50px;
    letter-spacing: -0.08em;
    text-align: center;
    text-transform: uppercase;

    @include vp-1023 {
      font-size: 28px;
      line-height: 32px;
    }

    @include vp-767 {
      font-size: 24px;
      line-height: 28px;
    }
  }

  &__location {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    @include vp-1023 {
      gap: 10px;
    }

    @include vp-767 {
      gap: 5px;
    }
  }

  &__pin {
    width: 24px;
    height: 24px;
    flex-shrink: 0;

    @include vp-1023 {
      width: 20px;
      height: 20px;
    }
  }

  &__location-text {
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0;
    text-align: center;

    @include vp-1023 {
      font-size: 14px;
      line-height: 20px;
    }

  }

  &__location {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    @include vp-1023 {
      gap: 10px;
    }

    @include vp-767 {
      gap: 5px;
    }
  }

  &__pin {
    width: 24px;
    height: 24px;
    flex-shrink: 0;

    @include vp-1023 {
      width: 20px;
      height: 20px;
    }
  }

  &__location-text {
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0;
    text-align: center;

    @include vp-1023 {
      font-size: 14px;
      line-height: 20px;
    }


  }

  &--flat {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 20px 20px;

    @include vp-1023 {
      display: block;
      border-radius: unset;
      padding: 0 7px;
      border: none;
    }

    @include vp-767 {
      padding: 0 28px;
    }

    .arc__list {
      @include list-reset;
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 200px;
      gap: 60px;

      @include vp-1023 {
        max-width: unset;
        width: 100%;
        flex-direction: row;
        align-items: start;
        gap: 40px;
      }

      @include vp-767 {
        flex-wrap: wrap;
        column-gap: 40px;
        row-gap: 21px;
      }
    }



    .arc__list-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;

      &:first-child {
        @include vp-767 {
          padding-top: 70px;
        }
      }

      &:last-child {
        @include vp-1023 {
          padding-top: 80px;
        }

        @include vp-767 {
          padding-top: 0;
        }
      }

      @include vp-1023 {
        width: calc((100% - (40px * 3)) / 4);
        gap: 11px;
      }

      @include vp-767 {
        width: calc((100% - 40px) / 2);
        gap: 0;
      }
    }

    .arc__list-top {
      display: none;

      @include vp-1023 {
        display: block;
        margin: 0 0 7px;
        padding-top: 18px;
      }
    }

    .arc__list-bottom {
      display: none;

      @include vp-1023 {
        display: block;
        padding-bottom: 5px;
      }
    }


    .arc__list-title {
      display: flex;
      gap: 12px;
      align-items: flex-end;
      color: $color-fallow;

      @include vp-1023 {
        gap: 10px;
      }
    }

    .arc__list-digit {
      font-family: $ff-tenor;
      font-weight: 400;
      font-size: 48px;
      line-height: 100%;
      letter-spacing: 0;
      text-align: center;

      @include vp-1023 {
        font-size: 40px;
      }

      @include vp-767 {
        font-size: 28px;
        line-height: 36px;
      }
    }


    .arc__list-small {
      font-family: $ff-tenor;
      font-weight: 400;
      font-size: 20px;
      line-height: 30px;
      text-transform: uppercase;

      @include vp-1023 {
        font-size: 14px;
        line-height: 24px;
      }
    }


    .arc__list-text {
      display: block;
      font-size: 18px;
      line-height: 26px;
      letter-spacing: 0;
      text-align: center;

      &--mb {
        @include vp-1023 {
          margin: 0 0 11px;
        }

      }

      @include vp-1023 {
        font-size: 14px;
        line-height: 20px;
      }


    }




  }


}
