.infrastructure {
  margin: 0 0 120px;
  padding-top: 120px;

  @include vp-1023 {
    margin: 0 0 80px;
    padding-top: 80px;
  }

  @include vp-767 {
    margin: 0 0 25px;
    padding-top: 60px;
  }



  &__inner {
    display: grid;
    grid-template-columns: 1fr 400px;
    gap: 168px;

    @include vp-1023 {
      display: flex;
      flex-direction: column;
      gap: 80px;
    }

    @include vp-767 {
      gap: 40px;
    }
  }



  &__left {
    padding: 162px 0;

    @include vp-1023 {
      padding: 0;
    }
  }

  &__text {
    display: block;
    margin: 0 0 30px;
    font-size: 18px;
    line-height: 26px;

    @include vp-1023 {
      margin: 0 0 20px;
      font-size: 14px;
      line-height: 20px;
    }

    @include vp-767 {
      margin: 0 0 15px;
    }
  }

  &__bulleted-list {
    columns: 2;
    column-gap: 44px;

    @include vp-1023 {
      column-gap: 74px;
    }

    @include vp-767 {
      max-width: 294px;
      columns: unset;
    }
  }

  .arc {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 20px 20px;

    @include vp-1023 {
      display: block;
      border-radius: unset;
      padding: 0 7px;
      border: none;
    }
  }


  &__list {
    @include list-reset;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 200px;
    gap: 60px;

    @include vp-1023 {
      max-width: unset;
      width: 100%;
      flex-direction: row;
      align-items: start;
      gap: 40px;
    }

    @include vp-767 {
      width: 280px;
      flex-wrap: wrap;
      row-gap: 20px;
    }
  }

  &__list-item  {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    &:last-child  {
      @include vp-1023  {
        padding-top: 20px;
      }
    }

    @include vp-1023  {
      width: calc((100% - (40px * 3)) / 4);
      gap: 8px;
    }
  }

  &__list-top {
    display: none;

    @include vp-1023  {
      margin: 0 0 7px;
      display: block;
      padding-top: 18px;
    }
  }

  &__list-bottom  {
    display: none;

    @include vp-1023  {
      display: block;
      padding-bottom: 5px;
    }
  }

  /* &__list-item {
    width: 192px;
    display: flex;
    flex-direction: column;
    align-items: center;


    @include vp-1023  {
      width: 150px;
    }


    @include vp-767 {
      width: 120px;
    }



    &--1 {

      margin: 0 0 50px;



      @include vp-1023 {
        margin: 0;
        width: 155px;

      }

      @include vp-767 {
        margin: 0 0 20px;
        width: 120px;
        padding-top: 70px;
      }

      .infrastructure__list-icon {
        @include vp-1023 {
          margin: 0 0 20px;
        }

        @include vp-767 {
          margin: 0 0 10px;
        }
      }

      .infrastructure__list-title {
        margin: 0 0 10px;

        @include vp-767 {
          margin: 0;
        }
      }
    }

    &--2  {
      margin: 0 0 60px;
      gap: 10px;



      @include vp-1023  {
        margin: 0;
        gap: 0;


        .infrastructure__list-top  {
          padding-top: 20px;
          margin: 0 0 20px;
        }

        .infrastructure__list-title {
          margin: 0 0 10px;
        }
      }




      @include vp-767 {

        .infrastructure__list-top {
          margin: 0 0 10px;
        }

        .infrastructure__list-title {
          margin: 0;
        }
      }


    }


    &--3  {

      margin: 0 0 50px;

      gap: 10px;

      .infrastructure__list-text  {
        margin: 0 0 10px;
      }

      @include vp-1023  {
        margin: 0;
      }

      @include vp-767 {
        padding-bottom: 20px;
        gap: 0;
      }


    }


    &--4 {
      gap: 10px;

      @include vp-1023  {
        padding-top: 80px;
      }



      @include vp-767 {
        padding-top: 80px;
        padding: 0;
        gap: 0;
      }


    }



  } */

  &__list-title {
    display: flex;
    gap: 12px;
    align-items: flex-end;
    color: $color-fallow;

    @include vp-1023 {
      gap: 10px;
    }
  }



  &__list-digit {
    font-family: $ff-tenor;
    font-weight: 400;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0;
    text-align: center;

    @include vp-1023 {
      font-size: 40px;
    }

    @include vp-767 {
      font-size: 28px;
      line-height: 36px;
    }
  }

  &__list-small {
    font-family: $ff-tenor;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;

    @include vp-1023 {
      font-size: 14px;
      line-height: 24px;
    }
  }

  &__list-text {
    display: block;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0;
    text-align: center;

    &--mb {
      margin: 0 0 11px;
    }

    @include vp-1023 {
      font-size: 14px;
      line-height: 20px;
    }


  }




}
