.park {
  padding: 60px 0 60px;

  @include vp-1023  {
    padding: 28px 0 40px;
  }

  @include vp-767 {
    padding: 17px 0 30px;
  }

  &__inner  {
    display: grid;
    grid-template-columns: 700px 1fr;
    column-gap: 173px;
    row-gap: 120px;

    @media(max-width: 1370px) {
      column-gap: 48px;
    }

    @include vp-1023  {
      grid-template-columns: 340px 1fr;
      row-gap: 80px;
    }

    @include vp-767 {
      display: flex;
      flex-direction: column;
      column-gap: unset;
      row-gap: unset;
    }
  }

  &__left {
    width: 100%;
    min-height: 700px;
    overflow: hidden;

    @include vp-1023  {
      min-height: 340px;
      padding-top: 15px;
    }

    @include vp-767 {
      margin-bottom: 41px;
    }
  }

  &__img  {
    width: 100%;
    object-fit: cover;
  }

  &__right  {
    padding-top: 110px;

    @include vp-1023  {
      padding-top: 0;
    }

    @include vp-767 {
      margin: 0 0 60px;
    }
  }

  &__title  {
    max-width: 440px;
    margin: 0 0 30px;
    font-family: $ff-tenor;
    font-weight: 400;
    font-size: 34px;
    line-height: 44px;
    letter-spacing: -0.08em;
    text-transform: uppercase;
    color: $color-fallow;

    @include vp-1023  {
      margin: 0 0 20px;
      font-size: 24px;
      line-height: 30px;
    }

    @include vp-767 {
      margin: 0 0 14px;
      font-size: 20px;
      line-height: 24px;
    }
  }

  &__list {
     margin: 0;
  padding-inline-start: 17px;
  color: $color-fallow;


  @include vp-767 {
    padding-inline-start: 16px;
  }

  &-item {
    &:not(:last-child){
      margin: 0 0 15px;

      @include vp-1023  {
        margin: 0 0 10px;
      }
    }
  }

  &-text {
    color: $color-white;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0;

    @include vp-1023  {
      font-size: 14px;
      line-height: 20px;

    }
  }


  }

  &__bottom {
    position: relative;
    grid-column-start: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__square {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 27px;
    align-items: center;
    padding: 0 84px;
    background-color: $color-rustic-red;

    @include vp-1023  {
      gap: 20px;
      padding: 0 33px;
    }

    @include vp-767 {
      padding: 0 6px;
    }
  }

  &__square-title {
    display: flex;
    font-family: $ff-tenor;
    color: $color-fallow;
    gap: 15px;

    @include vp-1023  {
      gap: 5px;
    }

  }

  &__square-digit {
    font-weight: 400;
    font-size: 140px;
    line-height: 100px;
    letter-spacing: -0.04em;

    @include vp-1023{
      font-size: 90px;
      line-height: 70px;
    }

    @include vp-767 {
      font-size: 70px;
      line-height: 50px;
    }

  }

  &__square-small {
    padding-top: 70px;
    display: block;
    font-size: 34px;
    line-height: 100%;
    letter-spacing: 0;
    text-transform: uppercase;

    @include vp-1023  {
      padding-top: 21px;
     font-size: 14px;
     line-height: 18px;
    }

    @include vp-767 {
      padding-top: 34px;
    }
  }

  &__square-text {
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0;
    text-align: center;

    @include vp-1023  {
     font-size: 14px;
     line-height: 20px;
    }
  }

  &__arrow {
    position: absolute;
    left: 0;
    top: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

     &::before {
      @include pseudo;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      height: 1px;
      background-color: $color-fallow;

    }

    @include vp-1023  {
      top: 28px;
    }

    @include vp-767 {
      top: 19px;
    }
  }

}
